<!doctype html>
<html>
    <head>
        <title>{{ the_title }}</title>
        <link rel='stylesheet' href='static/hf.css' />
    </head>

    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>